.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

# test stuff
test.py
test.cdb
my.cdb
true.cdb
input.txt
test.js
test2.py
test3.py
node_modules
package.json
package-lock.json

# vim
*.swp
**/*.swp
